@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@500&display=swap');
:root {
	--light: #fdf8e5;
	--default_font: 'Righteous', cursive;
	--input_font: 'Roboto Mono', monospace;
	--invalid: #ff0000;
	--highlight: rgb(19, 105, 94);
}

body {
	background-image: url("assets/stars.jpg");
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.form__container {
	border: 5px solid black;
	padding: 1.5em;
	margin: 1.5em;
	background-color: var(--light);

}

.form__heading {
	font-family: var(--default_font);
	color: var(--light);
	text-align: center;
}

.form__text {
	font-family: var(--default_font);
	font-size: 1.2rem;
}

.form__text--invalid {
	color: var(--invalid)
}

.form__label {
	font-family: var(--default_font);
	padding-right: 10px;
	font-size: 1.7rem;
}

.form__input-container {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.validated_input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.form__input {
	font-family: var(--input_font);
	flex-grow: 1;
}

.form__input--text {
	border: 2px solid black;
	font-size: 1.5rem;
}

.form__button {
	font-family: var(--default_font);
	font-size: 1.5rem;
	padding: 1em;
	width: 100%;
	background-color: black;
	color: white;
}

.form__button:hover {
	background-color: var(--highlight);
}

.form__input--dropdown {

}

.input__textarea {
	resize: none;
}

@media only screen and (min-width: 800px) {
    .form__input-container {
        flex-direction: row;
    }

	.validated_input-container {
		width: 60%;
	}
}